1. python version 3.14
2. flask package (version 3.1.2), including Blueprint package and render_template function
3. All files and subfolders within the module_1 package, maintaining original structure:
 - run.py
 - app
	-> __init__.py
	-> views.py
	-> static
		-> main.css
		-> profile-picture.jpg
	-> templates
		->base.html
		->pages
			-> home.html
			->content.html
			->projects.html
4. OS compatible with python 3.14
5. PC with web browser capable of hosting locally on 0.0.0.0:8080


 