{% extends 'base.html' %} <!-- Links page to parent page (base.html)-->
{% block title %}Contact{% endblock title %} <!--child for the title block, specifying which page-->
{% block header %} <!--child for the header block, specifying which page-->
  <h1>Contact Me!</h1>
{% endblock header %}

{% block content %} <!--child for the content block, include all page-specific html content-->
<h2>Email: gmille81@jh.edu</h2>
<a href="https://www.linkedin.com/in/greg-miller-a1518a193?trk=contact-info" class="linkedin-link">My LinkedIn Page</a>
{% endblock content %}