{% extends 'base.html' %} <!-- Links page to parent page (base.html)-->
{% block title %}Projects{% endblock title %} <!--child for the title block, specifying which page-->
{% block header %} <!--child for the header block, specifying which page-->
  <h1>My Projects</h1>
{% endblock header %}

{% block content %} <!--child for the content block, include all page-specific html content-->
<h2>Module 1 Assignment - Greg's Personal Website</h2>
<p>For the module 1 assignment, I created this website using the Flask framework and attempted to adhere to the standard Flask structure. 
  This website uses a blueprint to establish the architecture for the sub-pages. The base.html serves as the main structure for the site, with home.html,
  contact.html, and projects.html representing child templates that include varying html content. 
</p>
<a href="https://github.com/gmmille81/jhu_software_concepts" class="github-link">Link to the GitHub site for this project</a>
{% endblock content %}