{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Projects{% endblock title %}</h1>
{% endblock header %}

{% block content %}
<h2>Module 1 Assignment - Greg's Personal Website</h2>
<p>For the module 1 assignment, I created this website using the Flask framework and attempted to adhere to the standard Flask structure. 
  This website uses a blueprint to establish the architecture for the sub-pages. The base.html serves as the main structure for the site, with home.html,
  contact.html, and projects.html representing child templates that include varying html content. 
</p>
{% endblock content %}