<!DOCTYPE html>
<html lang="en">
<head> <!--title with parent block for page specific title elements-->
    <title>Greg Miller - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <nav> <!--nav element for top navigation bar with div elements to handle css-->
      <a href="{{url_for('index') }}">Saved Applicant Data</a>
    </nav>
    <hr>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
</body>
</html>